.main {
    padding: 20px;
}

/* Hero Section */
.heroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #495e57;
    color: white;
    padding: 40px;
    border-radius: 10px;
    gap: 20px;
}

.heroContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroText h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #f4ce14;
}

.heroText h2 {
    font-size: 1.5rem;
    margin: 5px 0;
}

.heroText p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.heroImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
    }

    .heroImage {
        margin-top: 20px;
    }
}

.reserveButton {
    background-color: #f4ce14;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.reserveButton:hover {
    background-color: #e0b812;
}

/* Specials Section */
.specialsSection {
    padding: 40px 0;
    background-color: #fdfdfd;
}

.specialsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.specialsListItem {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.specialsListItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.specialImage {
    width: 100%;
    height: 176px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.specialTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.specialDescription {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.specialPrice {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.deliveryButton {
    background-color: #495e57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.deliveryButton:hover {
    background-color: #3d504b;
}

/* Testimonials Section */
.testimonialsSection {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.testimonialsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonialItem {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.testimonialText {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.testimonialAuthor {
    font-size: 0.9rem;
    font-style: italic;
    color: #777;
    text-align: right;
}


@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .heroSection {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main {
        padding: 15px;
    }

    .heroSection {
        padding: 30px;
    }

    .heroText{
        width:45%;
    }

    .heroContent {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 1025px) {
    .main {
        padding: 20px;
    }

    .heroSection {
        padding: 40px;
    }

    .heroText {
        width: 45%;
    }

    .heroContent {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}