.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #495e57;
}

.navList {
    display: flex;
    gap: 15px;
}

.navList li {
    list-style: none;
}

.navList a {
    text-decoration: none;
    color: #f4ce14;
    font-weight: bold;
    font-size: 18px;
}

.navList a:hover {
    color: #ee9972;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .navList {
        flex-direction: column;
        gap: 5px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 1025px) {
    .nav {
        gap: 15px;
    }
}

